/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 50vw;
  background-color: rgba(17, 24, 39, 0.6);
  text-align: center;
}

h3 {
  font-weight: 200;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100vw;
  height: auto;
}

.hidden {
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
